@font-face {
	font-family: Magic;
	src: url('magmed.woff2');
}

@font-face {
	font-family: MagicNew;
	src: url('mplantin.woff2');
}

body {
	--sidebar-width: 180px;
	font-family: Magic;
}

tr {
	vertical-align: baseline;
}

td {
	padding: 5px;
}

li {
	margin-bottom: 0.5rem;
}

header {
	white-space: pre-wrap;
}

.roll-index {
	white-space: nowrap;
}

.roll-title {
	font-size: 1em;
	white-space: nowrap;
}

.roll-text {
	font-family: MagicNew;
}

@media (max-width: 700px)
{
	#sidebar
	{
		display: none;
	}

	#list-title
	{
		display: none;
	}

	select
	{
		color: black;
		width: 100%;
		font-size: 26px;
		font-family: MagicNew;
	}
}

@media (min-width: 701px)
{
	#header
	{
		display: none;
	}

	#sidebar
	{
		width: var(--sidebar-width);
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background-color: black;
	}

	.sidebar-button
	{
		margin: 10px 20px;
	}

	.sidebar-link
	{
		outline: none;
		text-decoration: none;
		color: white;
	}

	#main-text
	{
		margin-left: var(--sidebar-width);
	}
}

.ms
{
	font-size: 0.75em;
}
