@font-face {
	font-family: Magic;
	src: url('magmed.woff2');
}

@font-face {
	font-family: MagicNew;
	src: url('mplantin.woff2');
}

body {
	--sidebar-width: 180px;
	font-family: Magic;
}

tr {
	vertical-align: baseline;
}

td {
	padding: 5px;
}

li {
	margin-bottom: 0.5rem;
}

.roll-title {
	font-size: 18px;
	white-space: nowrap;
}

.roll-text {
	font-family: MagicNew;
}

#sidebar
{
	width: var(--sidebar-width);
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: black;
}

.sidebar-button
{
	margin: 10px 20px;
}

.sidebar-link
{
	outline: none;
	text-decoration: none;
	color: white;
}

#main-text
{
	margin-left: var(--sidebar-width);
}

