<!DOCTYPE html>
<html>
	<head>
		<title>Chaos Magic Rules</title>
	</head>
	<body>
		<p>At the beginning of the game, once all players have kept their opening hands and used the abilities of cards that allow them to take an action with those cards from their opening hands, the active player rolls on Global and puts a copy of the card rolled into the command zone. The abilities of the global function from the command zone and affect the game. The active player may play the global's activated abilities. If the global is an Equipment, it can be attached to a creature, but remains in the command zone. If a player would roll on Global during the game, first remove the current global from the command zone.</p>

		<p>There is a new step that takes place between your upkeep and draw steps called the chaos step. Immediately after a player's chaos step begins, as a turn-based action, that player rolls on one of the Chaos Lists. There are 6 Chaos Lists lettered A through F. The first chaos roll of the game is made on Chaos List A. Subsequent chaos rolls are made on the last Chaos List that was rolled on. The result of a roll is called a chaos ability, and the player who rolled it puts it onto the stack. It can then be responded to like any other object that could go on the stack. If the roll asks you to roll dice, do so before choosing targets. The process of rolling on of Chaos Lists A through F is called "rolling chaos".</p>

		<p>The six Chaos Lists are followed by other lists. When an ability directs you to "roll on {name of list}", then as part of the resolution of that ability, find the list below called "name of list", and follow the directions appearing at the beginning of that list. If an ability directs you to roll multiple times on a list, then put a chaos ability onto the stack for each roll that reads: "Roll on {that list}". If the ability directs you to roll multiple times on different lists, put the chaos abilities onto the stack in such an order as will result in the chaos abilities resolving in the order specified by the ability that put them onto the stack. If an ability directs you to "roll Chaos n times", place n chaos abilities on the stack that read: "Make a chaos roll on the last Chaos List that was rolled on." Note that some lists are called "charts".</p>

		<p>There is a new zone, called the middle world. Cards in the middle world are placed face up in the centre of the play area. Each player can play a card from the middle world once per turn.</p>

		<p>When the title of a roll is in brackets, the chaos ability has the text and characteristics of the Magic card of that name. Choose targets and modes normally, but ignore any costs. [Title] x n means that you put n such abilities on the stack. When the title appears in braces (e.g. {Global}), find the appropriate list below and roll the dice indicated.</p>

		<p>If the game breaks up or becomes tedious, roll on {Resolution}.</p>

		<p>Some rolls are preceded by terms in angle brackets. These refer to optional gameplay mechanics:</p>

		<p><vanguard>		The Vanguard casual variant.</p>

		<p>If the result of a roll uses an optional mechanic that you're not playing with, roll again.</p>

		<p>Occasionally a card will become banned due to a Chaos roll. If a banned card is face up in a public zone, remove it from the game as a state-based action. If a banned card would enter a public zone, remove it from the game instead. Note that banned cards are not exiled - they are truly removed from the game.</p>

		<p>Some rolls cause a player to temporarily leave the game. A player leaving the game temporarily does not have the same effect as does a player leaving the game completely. Instead that player takes no actions while he is gone, and is considered to be outside of each other player's range of influence. (Spells and abilities can't affect or target objects or players outside their controller's range of influence. Creatures can attack only opponents within their controller's range of influence.) If a player leaves the game on his turn, the turn continues to completion without an active player.</p>

		<p>(Optional Rule) If a player tries to leave his chaos step without rolling chaos, he must roll on {NegativeFeedback} and suffer the consequences.</p>

		<p>When a player loses the game, if more than one of that player's opponents are left in the game, that player rolls on Spite.</p>
	</body>
</html>
