<div id="sidebar">
	<p class="sidebar-button">
		<a class="sidebar-link" href="index.html">Home</a>
	</p>
	{% for list in lists %}
		<p class="sidebar-button">
			<a class="sidebar-link" href="{{ list.url }}">{{ list.full_name }}</a>
		</p>
	{% endfor %}
</div>

<style>

#sidebar
{
	width: 150px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: black;
}

.sidebar-button
{
	margin: 10px 20px;
}

.sidebar-link
{
	outline: none;
	text-decoration: none;
	color: white;
}

#main-text
{
	margin-left: 150px;
}

</style>
